<main>
	<form action="/todo" method="post" class="flex flex--column align--center">
		<label>Title: <input type="text" name="title"></label>
		<label>Due: <input type="date" name="due_at"></label>
		<input type="submit" value="Submit">
	</form>
</main>