<main>
	<table class="mx-auto">
		<thead>
			<tr>
				<th></th>
				<th>Todos</th>
				<th>Due</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<input type="checkbox">
				</td>
				<td>Test todo</td>
				<td>01/01/21</td>
			</tr>
		</tbody>
	</table>
</main>