<main>
	<table class="mx-auto">
		<thead>
			<tr>
				<th>Todos</th>
				<th>Due</th>
				<th>Completed</th>
			</tr>
		</thead>
		<tbody>
			{{#each todos}}
			<tr>
				<td>{{ this.title }}</td>
				<td>{{ this.due_at }}</td>
				<td>
					<input type="checkbox" {{#if this.completed}} checked {{/if}}>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</main>