<main>
	<table class="mx-auto">
		<thead>
			<tr>
				<th>Todos
					<a href="/?sort=title&order=asc">&uarr;</a>
					<a href="/?sort=title&order=desc">&darr;</a>
				</th>
				<th>Due
					<a href="/?sort=due_at&order=asc">&uarr;</a>
					<a href="/?sort=due_at&order=desc">&darr;</a>
				</th>
				<th>Completed</th>
			</tr>
		</thead>
		<tbody>
			{{#each todos}}
			<tr>
				<td>{{ this.title }}</td>
				<td>{{ this.due_at }}</td>
				<td>
					<input type="checkbox" disabled {{#if this.completed}} checked {{/if}}>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</main>